/*dark green #61B34F*/
/*light green #83C178*/



* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Helvetica;
}

main {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 25%;
  flex-wrap: wrap;
  margin-top: 100px;
}

div {
  display: flex;
  background-color: #61B34F;
  color: #F0F5F8;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border: 1px solid #F0F5F8;
  border-radius: 3px;
}

div p {
  font-size: 30px;
  font-weight: 100;
}

div p:hover {
  font-size: 31px;
  color: #F0F5F8;
  cursor: pointer;
}

.display {
  width: 240px;
}
